body{
    font-family: "Times New Roman";
}
h1{
    color: #0099FF;
}
p{
    color: #000000;
}
tr{
    background-color: #FFF;
}

.thHeader{
    display: flex;
    justify-content: space-between;
}
.btnEyeSlash{
    padding: 0 5px;
    box-shadow: none;
    background-color: #333;
    border: none;
}
.eyeSlash{
    color:white;
}
.footer-columns{
    background: white;
}
.footerRestoreColumn{
    display: none;
    background: white;
}
.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.showSheet > table > tr:first-child {
    font-weight:bold

}
.showSheet > table > tbody > tr > td:first-child {
    font-weight:bold

}
.bar { fill: steelblue; }
th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}
td, th {
    padding: 6px;
    border: 1px solid #747474;
    text-align: center;
}

table{
    width: auto;
    border-collapse: collapse;
}
th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}
