body{
    font-family: "Times New Roman";
}
h1{
    color: #0099FF;
}
p{
    color: #000000;
}
tr{
    background-color: #FFF;
}

.thHeader{
    display: flex;
    justify-content: space-between;
}
.btnEyeSlash{
    padding: 0 5px;
    box-shadow: none;
    background-color: transparent;
    border: none;
}
.eyeSlash{
    color:black;
    font-size: 0.8rem !important;
}
.footer-columns{
    background: white;
}
.footerRestoreColumn{
    display: none;
    background: white !important;
    text-align: center !important;
}

.footerRestoreColumn a{
    text-decoration: none !important;
}

.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.showSheet > table > tr:first-child {
    font-weight:bold

}
.showSheet > table > tbody > tr > td:first-child {
    font-weight:bold

}
.bar { fill: steelblue; }
#tblVis  th {
    background: #5d7dcb;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}
td, th {
    padding: 6px;
    border: 1px solid #b4bff6;
    text-align: center;
}
#tblVis tr:nth-child(even){background-color: #f2f2f3;}
#tblVis tr:hover {background-color: #ddd;}
table{
    width: auto;
    border-collapse: collapse;
}
th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}
.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    flex: 0 1 auto;
    align-self: center;
    margin-left: 70px;
}
.legend{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.barChartRadio{
    margin-right: 10px;
}
.barChartRadioForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}
.fieldsetBorder{
    border:1px solid #e5e5e5;
}
.legendStyle{
    display: block;
    font-size: 13px;
    color: #5a5858;
    margin-left: 20px;
    width: 35px;
    border: 0;
    margin-bottom: 0px;
}
.xAxisDiv{
    margin: 10px;
}
.vl {
    border-left: 1px solid green;
    margin :0px 20px 5px 20px;
    box-shadow:0px 1px 1px #de1dde;
}
.fieldsetYAxis{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gridGraphBtnDiv{
    display: flex;
    margin: 0 50px;
}
#divToVis{
    margin: 20px;
}
.dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.alert{
    margin:20px;
    width: 450px;
}
.dropdown-menu li a:hover {background-color: #f1f1f1}

#nbinsForm{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

#nbinsForm input {
    width: 45px;
    height: 37.6px;
    display: block;
    margin: 0;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 3px 0px 0px 3px;
}

#nbinsForm input:focus {
    outline: 0;
}
.nbinsForm-nav {
    float: left;
    position: relative;
    height: 37.6px;
}

.nbinsForm-btn {
    position: relative;
    cursor: pointer;
    border-right: 1px solid transparent;
    width: 20px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    border-bottom: 1px solid transparent;
    background: #007bff;
    font-weight: bold;
}

.nbinsForm-btn.nbinsForm-up {
    position: absolute;
    height: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid transparent;
    border-radius: 0px 3px 0px 0px;
}

.nbinsForm-btn.nbinsForm-down {
    position: absolute;
    bottom: 0px;
    height: 50%;
    border-radius: 0px 0px 3px 0px;
}
#connectedChartSelectId{
    border: 1px solid #007bff;
    border-radius: 3px 3px 3px 3px;
    height: 37.6px;
}

#connectedChartSelectId{
   margin-left: 30px;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    cursor: pointer;
}
#sheetsDiv button{
    color: white;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    border-radius: 3px;
    border: 1px solid transparent;

}
#sheetsDiv button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 100px 0 rgba(0,0,0,0.19);
}