body{
    font-family: "Times New Roman";
}
h1{
    color: #0099FF;
}
p{
    color: #000000;
}
tr{
    background-color: #FFF;
}

.thHeader{
    display: flex;
    justify-content: space-between;
}
.btnEyeSlash{
    padding: 0 5px;
    box-shadow: none;
    background-color: #333;
    border: none;
}
.eyeSlash{
    color:white;
}
.footer-columns{
    background: white;
}
.footerRestoreColumn{
    display: none;
    background: white;
}
.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.showSheet > table > tr:first-child {
    font-weight:bold

}
.showSheet > table > tbody > tr > td:first-child {
    font-weight:bold

}
.bar { fill: steelblue; }
th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}
td, th {
    padding: 6px;
    border: 1px solid #747474;
    text-align: center;
}

table{
    width: auto;
    border-collapse: collapse;
}
th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}
.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    flex: 0 1 auto;
    align-self: center;
    margin-left: 70px;
}
.legend{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.barChartRadio{
    margin-right: 10px;
}
.barChartRadioForm{
    display: flex;
    justify-content: center;
    align-items: center
}
.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}
.fieldsetBorder{
    border:1px solid #e5e5e5;
}
.legendStyle{
    display: block;
    font-size: 13px;
    color: #5a5858;
    margin-left: 20px;
    width: 35px;
    border: 0;
    margin-bottom: 0px;
}
.xAxisDiv{
    margin: 10px;
}
.vl {
    border-left: 1px solid green;
    margin :0px 20px 5px 20px;
    box-shadow:0px 1px 1px #de1dde;
}
.fieldsetYAxis{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gridGraphBtnDiv{
    display: flex;
    margin: 10px 10px 10px 30px;
}
#divToVis{
    margin: 20px;
}
.dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.alert{
    margin:20px;
    width: 450px;
}
.dropdown-menu li a:hover {background-color: #f1f1f1}

